<link href="/stylesheets/artwork_detail.css" rel="stylesheet">
{{#with art}}
<div class="container">
        <div class="row">
            <h1 class="head-text col-3">{{art_title}}</h1>
            <p3 class="by-text col-1">by</p3>
            <h1 class="head-text col-4">{{art_creator}}</h1>
        </div>
        <div class="row">
            <div class="contaier col-md-9">
                <img class="img-fluid col-10" src="{{art_source}}">
            </div>
            <div class="container col-md-3">
                <div class="row pb-1">
                    <p1>{{art_description}}</p1>
                    <br>
                    <br>
                    <br>
                    <div class="container">
                    {{#each art_tags}}
                    <div class="text-center my-1">
                            <button class="btn btn-primary rounded-pill w-75" onclick="window.location.href=&quot/artwork/1?tag={{this}}&quot">
                                <!--<img class="btn-image" src="/images/tag.png">{{this}}-->
                                {{this}}
                            </button>
                    </div>
                    </div>


                    {{/each}}
                </div>
            </div>

        </div>
        <div class="container col-10 text-center">
            <hr>
            <div class="row">
                <p1 class="text-center">Submit your own artwork!</p1>
            </div>
            <div class="buffer-zone">
                <a href="https://forms.gle/hZt9kkPEzvfWM3G1A" target="_blank" class="btn btn-outline-dark">Submit</a>
            </div>
            <hr>
        </div>
</div>
{{/with}}
