<!--<link href="/stylesheets/index.css" rel="stylesheet">-->
<link href="/stylesheets/artwork.css" rel="stylesheet">
            <div class="flex-column">
                {{#each artwork}}
                <div class="container col-6">
                    <embed src="{{art_source}}" class="image w-75 h-75 shadow-1-strong rounded mb-4" alt="">
                        <a href="/artwork/{{art_id}}">
                            <!--<div class="overlay">
                                <div class="text">{{art_title}}</div>
                                <div class="description-text">{{art_creator}}</div>
                            </div>-->
                        </a>
                </div>
                {{/each}}
            </div>
            {{#with pages}}
            <div class="container flex-column">
            <nav>
                <ul class="pagination">
                    <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="/artwork/page/{{first}}">{{first}}</a></li>
                    <li class="page-item"><a class="page-link" href="/artwork/page/{{second}}">{{second}}</a></li>
                    <li class="page-item"><a class="page-link" href="/artwork/page/{{third}}">{{third}}</a></li>
                    <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                    </li>
                </ul>
            </nav>
            </div>
            {{/with}}
</div>