<link href="/stylesheets/index.css" rel="stylesheet">
<link href="/stylesheets/artwork.css" rel="stylesheet">
<link href="/stylesheets/search.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css" integrity="sha512-xmGTNt20S0t62wHLmQec2DauG9T+owP9e6VU8GigI0anN7OXLip9i7IwEhelasml2osdxX71XcYm6BQunTQeQg==" crossorigin="anonymous" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js" integrity="sha512-VvWznBcyBJK71YKEKDMpZ0pCVxjNuKwApp4zLF3ul+CiflQi6aIJR+aZCP/qWsoFBA28avL5T5HA+RE+zrGQYg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput-angular.min.js" integrity="sha512-KT0oYlhnDf0XQfjuCS/QIw4sjTHdkefv8rOJY5HHdNEZ6AmOh1DW/ZdSqpipe+2AEXym5D0khNu95Mtmw9VNKg==" crossorigin="anonymous"></script>
<style type="text/css">
    .label-info{
        background-color: #17a2b8;

    }
</style>
<div class="input-group">
    <input type="search" id="search" onkeypress="checkSearch(event)" name="search" class="form-control rounded" placeholder="Search the gallery..." aria-label="Search" aria-describedby="search-addon">
    <button onclick="searchByParams()" type="button" class="btn btn-outline-secondary" id="button-addon2"> Search </button>
</div>

<div class="row">
    <div class="col-9">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="sortMenu" data-bs-toggle="dropdown" aria-expanded="false">
            Tags
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <div class="row">
                <li>

                    {{#each tags}}
                        <div class="form-check form-switch d-flex justify-content-start">
                            <input class="form-check-input" type="checkbox" id="{{this}}Check" name="tags" value="{{toLowerCase this}}">
                            <label class="form-check-label" for="{{this}}Check">{{this}}</label>
                        </div>
                    {{/each}}
                </li>
            </div>
        </ul>
    </div>
    <div class="col-3">
        <div class="dropdown d-flex justify-content-end">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="sortMenu" data-bs-toggle="dropdown" aria-expanded="false">
                Sort by
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a id="titleAZ" class="dropdown-item" onclick="addUrlParameter('sort', 'art_title')">Title A-Z</a></li>
                <li><a class="dropdown-item" onclick="addUrlParameter('sort', 'art_creator')">Creator A-Z</a></li>
                <li><a class="dropdown-item" onclick="deleteSort()">Undo Sort</a></li>
            </ul>
        </div>
    </div>
</div>
            {{#each artwork}}
            <div class="container artwork col-3">
              <a href="/artwork/{{page_number}}?id={{art_id}}">
                <div class = "frame">
                    <img src="{{art_source}}" class="img-fluid w-100 shadow-1-strong rounded mb-4">

                        <div class="details">
                          <h1 style=" font-weight: bold;">{{art_title}}</h1>
                          <h4> by <h4>
                          <h2> {{art_creator}}</h2>

                        </div>
                      </div>
                        </a>
            </div>
            {{/each}}
    <nav aria-label="Page navigation example">
        <div class="row">
            <ul class="pagination row-md-3">
                {{#if previous}}
                    <li class="page-item"><a id="previous" class="page-link" onclick="pagination({{previous}})">Previous</a></li>
                {{/if}}

                    <li class="page-item"><a id="current" class="page-link" onclick="pagination({{page_number}});">{{page_number}}</a></li>

                {{#if next}}
                    <li class="page-item"><a id="next" class="page-link" onclick="pagination({{next}})">Next</a></li>
                {{/if}}
            </ul>
        </div>
    </nav>
   <div class="container col-10 text-center" >
            <hr>
            <div class="row" style="background-color = #c2e8f793;">
                <p1 class="text-center">Submit your own artwork!</p1>
            </div>
            <div class="buffer-zone">
                <a href="https://forms.gle/HiSJLGoSN4VsTdLr8" class="btn btn-outline-dark" target="_blank">Submit</a>
            </div>
            <hr>
    </div>
<script>
    let tagQuery = (new URLSearchParams(window.location.search)).get('tags');
    if(tagQuery){
        console.log(tagQuery);
        console.log(typeof tagQuery);
        tagQuery = tagQuery.split('+');
        console.log(tagQuery);

        tagQuery.forEach(tag =>{
            queryString = "input[value=\'" + tag + "\']";
            console.log(queryString);
            document.querySelector(queryString).checked = true;    
        });
    }

    function checkSearch(e){
        if(e.keyCode == 13){
            searchByParams();
        }
    }

    function findTags(){
        let tags = document.getElementsByClassName('form-check-input');
        let string = "";
        for(i = 0; i < tags.length; i++){
            let tag = tags[i];
            if(tag.checked){
                string = string !== "" ? string + "+" + tag.value.toLowerCase() : tag.value.toLowerCase();
            }
        }

        return string;
    }

    function searchByParams(){
        let searchParams = new URLSearchParams(window.location.search);
        let search = document.getElementById('search').value
        let tags = findTags();
        console.log('here');
        console.log(tags);

        if(search){
            searchParams.set('search', search);
        }

        else{
            searchParams.delete('search');
        }

        if(tags){
            searchParams.set('tags', tags);
        }



        window.location.href = "/artwork/1?" + searchParams.toString();
    }

    function addUrlParameter(name, value) {
        let searchParams = new URLSearchParams(window.location.search);
        searchParams.set(name, value);
        window.location.search = searchParams.toString();
    }

    function deleteSort(){
        let searchParams = new URLSearchParams(window.location.search);
        searchParams.delete('sort');
        window.location.search = searchParams.toString();
    }

    function pagination(page_number){
        let location = window.location.href;
        const urlSearchParams = new URLSearchParams(window.location.search);
        const params = Object.fromEntries(urlSearchParams.entries());
        console.log(params);

        let search_string = "";

        for (parameter in params) {
            if (params.hasOwnProperty(parameter)) {
                if(!search_string === ""){search_string += "&"}
                search_string += parameter + "=" + params[parameter];
            }


        }

        console.log("/artwork/" + page_number + "?" + (search_string.replace("+", "%2B")));
        window.location.href = "/artwork/" + page_number + "?" + (search_string.replace("+", "%2B"));
    }



</script>
