<link href="/stylesheets/index.css" rel="stylesheet">
{{>search}}




<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="sortMenu" data-bs-toggle="dropdown" aria-expanded="false">
    Sort by
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a id="titleAZ" class="dropdown-item" href="{{page_number}}?sort=art_title">Title A-Z</a></li>
    <li><a class="dropdown-item" href="{{page_number}}?sort=art_creator">Creator A-Z</a></li>
    <li><a class="dropdown-item" href="#">Newest</a></li>
  </ul>
</div>
            {{#each artwork}}

            <!--- replace img with embed or iframe and change css (deals with all file types) || add conditional to do either img or video player --->
            <div class="container">
                    <img src="{{art_source}}" class="img-fluid w-100 shadow-1-strong rounded mb-4">
                        <a href="/artwork/{{page_number}}?id={{art_id}}">
                        <div class="overlay">
                            <div class="text">{{art_title}}</div>
                        </div>
                        </a>
            </div>
            {{/each}}
    <nav aria-label="Page navigation example">
<<<<<<< HEAD
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="/artwork/{{previous}}">Previous</a></li>
    <li class="page-item"><a class="page-link" href="{{page_number}}">{{page_number}}</a></li>
    <!-- <li class="page-item"><a class="page-link" href="{{next}}">{{next}}</a></li> -->
    <li class="page-item"><a class="page-link" href="/artwork/{{next}}">Next</a></li>
  </ul>
</nav>
=======
        <div class="row">
            <ul class="pagination col-3 justify-content-middle">
                <li class="page-item"><a class="page-link" href="{{previous}}">Previous</a></li>
                <li class="page-item"><a class="page-link" href="{{page_number}}">{{page_number}}</a></li>
                <li class="page-item"><a class="page-link" href="{{next}}">{{next}}</a></li>
                <li class="page-item"><a class="page-link" href="{{next}}">Next</a></li>
            </ul>
        </div>
    </nav>
>>>>>>> 72e264c6dea5ebaf84b75a3e2f9b389f0257e0cc
   <div class="container col-10 text-center">
            <hr>
            <div class="row">
                <p1 class="text-center">Submit your own artwork!</p1>
            </div>
            <div class="buffer-zone">
                <a href="https://forms.gle/HiSJLGoSN4VsTdLr8" class="btn btn-outline-dark" target="_blank">Submit</a>
            </div>
            <hr>
    </div>
